:root {
--main-theme-color: rgb(255, 255, 255);
--theme-transparency: rgba(0, 0, 0, 0.698);
--theme-background-image: url(https://i.pinimg.com/originals/2a/ba/36/2aba3692588bd7426a6070144f74a77b.jpg');
--theme-background-image: url('https://i.pinimg.com/originals/2a/ba/36/2aba3692588bd7426a6070144f74a77b.jpg');
--home-icon-image: url('https://i.pinimg.com/originals/7f/e7/df/7fe7df8f3843a85b22127899c280b6dd.jpg');
--home-icon-image-zoom: 100%;
--home-icon-image-position: center;
