:root {
--main-theme-color: rgb(255, 255, 255);
--theme-transparency: rgba(0, 0, 0, 0.698);
--theme-background-image: url('https://i.pinimg.com/originals/0f/b5/fd/0fb5fd33bb91f5687d607da3bd27ae7d.jpg');
--theme-background-image: url('https://i.pinimg.com/236x/ec/33/47/ec3347116086350d2e16435dddcd444e--black-and-white-black-eyed.jpg');
--home-icon-image: url('https://i.pinimg.com/originals/7f/e7/df/7fe7df8f3843a85b22127899c280b6dd.jpg');
--home-icon-image-zoom: 100%;
--home-icon-image-position: center;
@@ -74,4 +74,4 @@
--rs-invisible-color: #747f8d;
--rs-phone-visible: block;
--customFont: 'Roboto';
}
}
